body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #bef6bb;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

.normal_text {
    font-size: 2em;
    color: #49b472;
}

.yes-button {
    font-size: 1.5em;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #3f8142;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.no-button {
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.gif_container img {
    width: 90%; 
    max-width: 500px; 
    height: auto; 
}
